body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(37, 37, 37);
    color: white;
}

#background {
    width: 400px;
    height: 400px;
    background-color: rgb(0, 124, 196);
    margin: 30px auto auto auto;
    border-radius: 5%;
    
}

#game {
    padding: 10px 20px 10px 20px;
}

.button {
    width: 100px;
    height: 30px;
    font-size: 20px;
    
    background-color: rgb(253, 95, 95);
    border: transparent;
    margin-bottom: 5px;
    outline: none;
    border-radius: 4px;
    box-shadow: 0 5px rgb(56, 56, 56);
    font-weight: bolder;

}
.button:hover {
    background-color: rgb(50, 177, 164);
}

.button:active {
    transform: translateY(5px);
    box-shadow: 0 3px rgb(56, 56, 56);;
}

#scorescreen {
    width: 310px;
    margin: 5px auto 0 auto;
    height: 180px;
    background-color: rgba(0, 0, 0, 0.356);
    border-radius: 8px;
}

#scoreText {
    padding-top: 10px;
    font-size: 28px;
}

#results {
    font-size: 20px;
    padding: 0px 5px 10px 5px;
    
}

#scoreBoard {
    font-size: 20px;
}